*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import "settings/_fonts.scss";
@import "settings/_colors.scss";
@import "reset.css";
body{
  font-family: $font-base;
}
@import "Home";
@import "WhoesHelp";
@import "Contact";
@import "LoginPage";
@import "Register";