.Register{
  display: block;
  text-align: center;
}
.Register-tittle{
  display: inline-grid;
  margin: 5px;
  line-height: 50px;
  font-size: 35px;
}

.Register-container{
  margin-top: 50px;
  height:380px;
  background-color: #F0F1F1;
  margin-right: 550px;
  margin-left: 550px;
  padding: 50px;
  line-height: 45px;
  text-align: left;
}
.Register-container-input{
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}

.Register-footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
}
