.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  position: relative;
  top: 1200px;
}
.container h1 {
  font-size: 40px;
}
.navbar {
  margin: 20px 0;
}

.navbar button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.content {
  text-align: left;
  margin-top: 20px;
}

.entry {
  margin-bottom: 20px;
}

.entry h2 {
  margin: 0;
  font-size: 28px;
}

.entry p {
  margin: 5px 0;
}
