.container {
  top: 1200px;
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin:  auto;
  text-align: center;
  padding: 20px;
}

.container h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.container img {
  margin: 20px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navbar button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.navbar button:hover {
  border-color: #3C3C3C;
}

.content {
  text-align: left;
  margin-top: 20px;
}

.entry {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.entry:last-child {
  border-bottom: none;
}

.entry h2 {
  margin: 0;
  font-size: 24px;
}

.entry p {
  margin: 5px 0;
}

.main-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.description {
  margin: 20px 300px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.description-title{
  justify-content: center;
  text-align: center;
  margin: 30px 300px;
  font-size: 20px;
}
.description-need{
  text-align: right;
  margin-top: 5px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-top: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #3C3C3C;
  color: white;
}
